.slider-arrow {
	--url-arrow: url('/src/images/icons/other-icons/slider-arrow-left.svg');

	position: relative !important;
	inset: 0 !important;
	width: 9rem !important;
	height: 9rem !important;
	flex-shrink: 0;
	background: $color_accent;
	background: $color_gradient;
	border-radius: 50%;

	&.slider-arrow--next {
		--url-arrow: url('/src/images/icons/other-icons/slider-arrow-right.svg');
	}

	&::before {
		content: '';
		position: absolute;
		inset: 1px;
		border-radius: 50%;
		background-color: $white;
		background-image: var(--url-arrow);
		background-repeat: no-repeat;
		background-position: center;
		background-size: 4rem;
	}

	&::after {
		display: none;
	}
}
